<div id="twikoo"></div>
<script src="https://cdn.staticfile.org/twikoo/1.6.31/twikoo.all.min.js"></script>
<script>
twikoo.init({
  el: '#tcomment',
  envId: '<%= theme.twikoo.envID %>',
  lang: '<%= theme.twikoo.lang %>',
})
</script>
